body {
    font-family: Arial, sans-serif;
}

.items {
    position: relative;
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: flex-end;
}

.nav-link {
    display: flex;
    margin-right: 10px;
}

.nav a {
    font-size: 15px;
    color: #000000;
}

.center {
    height: 260px;
    text-align: center;
    padding: 130px;
    /* background-color: blueviolet; */
    /* border: 3px solid black; */
}  

.search {
    /* border: 2px solid red;
    padding: 10px;
    border-radius: 25px; */
}

ul {
    list-style: none;
}

li {
    padding: 13px;
}

button {
    padding: 10px;
    margin: 10px;
    color: #bbb
}

button:hover {
    color: #f7f7f7
}

.footer {
    top: 0px;
    background-color: #f2f2f2;
    Right: 1306px;
}

.section1 {
    /* height: 45px; */
    /* bottom: 39px; */
}

.section2 {
    display: flex;
    justify-content: space-between;
    color: #f2f2f2;
    /* height: 45px; */
}

a {
    text-decoration: none;
}
 .footer a {
     color: #5F6368;
 }

 .footer span {
     color: #939393;
 }