body {
    font-family: Arial, sans-serif;
}

.items {
    position: relative;
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: flex-end;
}

.nav-link {
    display: flex;
    margin-right: 10px;
}

.nav a {
    font-size: 15px;
    color: #000000;
}

.center {
    height: 243px;
    bottom: 514px;
    text-align: center;
    padding: 130px;
    /* background-color: blueviolet; */
    /* border: 3px solid black; */
}  

ul {
    list-style: none;
}

li {
    padding: 13px;
}

button {
    padding: 10px 40px;
    background-color:#e7e7e7;
    color: black;
}


.footer {
    top: 0px;
    background-color: #f2f2f2;
    Right: 1306px;
    font-size: 15px;
    height: 72px;
}

.section1 {
    left: 29px;
    /* border: 1px solid blue; */
}

.section2 {
    display: flex;
    justify-content: space-between;
    color: #f2f2f2;
    /* height: 45px; */
}

a {
    text-decoration: none;
    
}

.section3 {
    padding-right: 42px;
}
 .footer a {
     color: #5F6368;
     justify-content: space-around;
     padding-left: 29px;
 }

 .footer span {
     color: #939393;
     padding-left: 29px;
 }

 hr {
     font-weight: 20px;
     color: #f2f2f2; 
 }